@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/*--RESET--*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Almost-White: #FFFDFA;
    --Gunmetal: #5E607A;
    --Dark-Space-Blue: #00001A;
    --Light-Vermillion: #F15D51;
    --PorscheYellow: #E9AA52;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background: var(--Almost-White);
}

/*End Reset*/

/*--GLOBAL CONTAINER--*/

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 129px;
}

/*--HEADER--*/
header {
    color: var(--Gunmetal);
}

header .container {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding? no padding? keep it for later*/
}

.logo {
    width: 64px
}

header ul {
    display: flex;
    gap: 40px;
}

header ul li a {
    color: var(--Gunmetal);
    text-transform: capitalize;
    /*font-size inherit from body{}*/
    font-weight: 400;
    line-height: 26px;
}

header ul li a:hover {
    background-color: var(--Dark-Space-Blue);
    color: var(--Almost-White);
    padding: 10px;
    border-radius: 5px;
}